<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <form action="/new" method="POST">
        <fieldset>
            <legend>Dados Cadastrais</legend>
            <p>
                Nome: <input type="text" name="nome" value="<%=customer.nome%>">
            </p>
            <p>
                Idade: <input type="number" name="idade" value="<%=customer.idade%>">
            </p>
            <p>
                <label>Sexo</label>
                <select name="sexo" id="sexo">
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                </select>
            </p>
            <p>
                <label>Região</label>
                <select name="uf" id="uf">
                </select>
            </p>
            <input type="hidden" name="id" value="<%=customer._id%>">
            <p>
                <input type="submit" value="Salvar">
                <a href="/">Cancelar</a>
            </p>

        </fieldset>
    </form>
    <script>
        fetch("https://servicodados.ibge.gov.br/api/v1/localidades/estados")
            .then(res => res.json())
            .then(json => {
                const siglas = json.map(item => item.sigla).sort();
                const ufsHtml = document.getElementById("uf");

                siglas.forEach(sigla => {
                    let opt = document.createElement("option");
                    opt.innerText = sigla;
                    opt.value = sigla;
                    ufsHtml.add(opt);
                });
                //Set Uf na edição
                <%
                  if (customer.uf) %>
                    document.getElementById("uf").value = "<%=customer.uf%>";
            }).catch(error => console.log(error))
        if (window.location.search) {
            const error = window.location.search.split('=')[1];
            alert(decodeURI(error));
        }
        //Set Sexo na edição
        <%
            if (customer.sexo) %>
            document.getElementById("sexo").value = "<%=customer.sexo%>";





    </script>
</body>

</html>