<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <table>
    <thead>
      <tr>
        <td>Nome</td>
        <td>Idade</td>
        <td>Sexo</td>
        <td>Ações</td>
      </tr>
    </thead>
    <% customers.forEach(customer=> { %>
      <tbody>
        <tr>
          <td>
            <%=customer.nome%>
          </td>
          <td>
            <%=customer.idade%>
          </td>
          <td>
            <%=customer.sexo%>
          </td>
          <td>
            Ações
          </td>
        </tr>
      </tbody>
      <%})%>
  </table>
</body>

</html>